<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fill Form</title>
    <link rel="stylesheet" href="output.css">
</head>
<body>
    <h1 class="bg-violet-500 p-5 m-auto font-bold h-52 text-9xl flex justify-center items-center w-200 text-cyan-600">Fill The Form Given Below</h1>
    <div class="box h-96 border-2 p-1 m-5 flex justify-evenly items-center flex-col">
        <h2 class="text-3xl">Shop Your desires</h2>
        <form action="/Clothes" method="post" class="flex justify-evenly items-center flex-col h-96">
            <input class="border-2 h-9 p-5 block w-2xl mt-2.5" type="text" name="name" placeholder="Enter Name" id="">
            <input class="border-2 h-9 p-5 block w-2xl mt-2.5" type="email" name="email" placeholder="Enter Email" id="">
            <input class="border-2 mt-2.5 border-gray-500 p-2 rounded-2xl to-blue-500 bg-violet-600 active:bg-violet-800 cursor-pointer" type="submit">
        </form> 
    </div>
</body>
</html>